# This is a example .env file.
# Duplicate this file as ${env_file} in the root of the project
# remove the .example extension 
# and update the environment variables to match your
# desired config
# NOTE: example file was generated using: env-sync package
 
AUTH_ORIGIN= 
NUXT_AUTH_SECRET= 

# Github
GITHUB_CLIENT_SECRET= 
GITHUB_CLIENT_ID= 

# database url string
DATABASE_URL= 
